{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <div class='message'>

    <html style="font-size: 24px">

    <center><h1>Information Sheet </h2></center>
    <p> 
        <h2>Using Graphical User Interfaces (GUIs) to program a robot </h2>
        <h3><b>The researchers support the practice of protecting research participants' rights. The information in this consent form is provided so that you can decide whether you wish to participate in our study. It is important that you understand that your participation is considered voluntary. This means that even if you agree to participate you are free to withdraw from the experiment within 24 hours after completion of the experiment, without penalty.</b></h3>
        
        <h2>Study Purpose</h2>
        <h3></h3>The purpose of this study is to investigate the usability of different GUI's to complete a task by programming a virtual robot. This study is being conducted at the division of Robotics, Perception, and Learning at KTH Royal Institute of Technology by Jonathan Styrud.

        <h2>Participation and Withdrawal</h2>
        Participation in this study is completely voluntary and you are free to withdraw from this study at any time without prejudice or penalty. If you wish to withdraw, simply stop the task and inform the experiment supervisor. If you do withdraw from the study, the materials that you have completed to that point will be deleted and will not be included in the study. 
        
        <h2>Task</h2>
        Participants will be asked to complete 3 different tasks involving programming a virtual robot. Each task will involve a different GUI to program the robot and complete the task. Participants will also be asked to complete questionnaires evaluating the different GUIs. This study will take a maximum of 1 hour to complete.
        
        <h2>Risks and Benefits</h2>
        There are no foreseeable risks from participating in this study over and above those of everyday living. All participants will be given a voucher worth 100SEK as thanks for their participation.  
        
        <h2>Confidentiality and security of data</h2>
        Only members of the research team will have access to identified data. All data will be coded in a de-identified manner and subsequently analyzed and reported in such a way that responses are not able to be linked to any individual. Data will be used for scientific and non-commercial purposes. 
        
        <h2>Contacts</h2>
        If you have any questions about the study, you can discuss your participation with project staff.
        <br><br>Thank you for your participation!
    </p>     

    <hr>
    <center><h1> Declaration of consent </h1></center>
    <form method="post">
        
            <div class="center_align">
                <!-- <label for="fname">First name:</label> -->
                <input type="text" id="fname" name="fname" required  autocomplete="off" placeholder="First Name"><br>
                <!-- <label for="lname">Last name: </label> -->
                <input type="text" id="lname" name="lname" required  autocomplete="off" placeholder="Last Name"><br>
                <br>
                <label for="email">Your email will only be used to contact you if you are interested in participating in similar studies in the future. Providing it is optional.  </label> 
                <br>
                <input type="text" id="email" name="email"  autocomplete="off" placeholder="Email Address"><br>
            </div>
        <div class="radio_text">
            <i>(please tick each checkbox if you consent)</i> <br>
            <h2>1. I agree to participate in this study. </h2>
            <input type="radio" name="consent_1" id="1_yes_no_yes" value="Yes" required><label for="1_yes_no_yes">Yes</label></input>
            <input type="radio" name="consent_1" id="1_yes_no_no" value="No" required><label for="1_yes_no_no">No</label></input>

        </div>
        <div class="radio_text">
            <h2>2. I understand that my participation is voluntary and that I am free to withdraw at any time, without giving any reason within 24 hours after completion of the experiment. </h2>
            <input type="radio" name="consent_2" id="2_yes_no_yes" value="Yes" required><label for="2_yes_no_yes">Yes</label></input>
            <input type="radio" name="consent_2" id="2_yes_no_no" value="No" required><label for="2_yes_no_no">No</label></input>
        </div>
        <div class="radio_text">
            <h2>3. I understand that my identifiable data is recorded for research purposes as described above, and can be stored until further notice.</h2>
            <input type="radio" name="consent_3" id="3_yes_no_yes" value="Yes" required><label for="3_yes_no_yes">Yes</label></input>
            <input type="radio" name="consent_3" id="3_yes_no_no" value="No" required><label for="3_yes_no_no">No</label></input>
        </div>
        <div class="radio_text">
            <h2>4. I agree for my data to be made available to other researchers. I understand that this is not required in order to be able to participate. </h2>
            <input type="radio" name="consent_4" id="4_yes_no_yes" value="Yes" required><label for="4_yes_no_yes">Yes</label></input>
            <input type="radio" name="consent_4" id="4_yes_no_no" value="No" required><label for="4_yes_no_no">No</label></input>
        </div>
        <div class="center_align">
            <button type="submit">Next</button>
        </div>
    </form>

    </div>
{% endblock %}
