{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  {% endblock %}</h1>
    <div class='message'>

    <div class="center_align"><h2> Please rank the GUIs you tested from 1 (most preferred) to 3 (least preferred).</h2></div>
    <form method="post">

        <div class="radio_text">
            <h2> Rank 1 (most preferred): </h2>
            <input list="guis" name="gui_1" type="text" required>
            <datalist id="guis">
                <option value="GUI 1">
                <option value="GUI 2">
                <option value="GUI 3">
            </datalist>
        </div>

        <div class="radio_text">
            <h2> Rank 2: </h2>
            <input list="guis" name="gui_2" type="text" required>
            <datalist id="guis">
                <option value="GUI 1">
                <option value="GUI 2">
                <option value="GUI 3">
            </datalist>
        </div>

        <div class="radio_text">
            <h2> Rank 3 (least preferred): </h2>
            <input list="guis" name="gui_3" type="text" required>
            <datalist id="guis">
                <option value="GUI 1">
                <option value="GUI 2">
                <option value="GUI 3">
            </datalist>
        </div>
        
     
        <div class="center_align">
            <button type="submit">Submit</button>
        </div>
    </form>

    </div>
{% endblock %}
