{% extends 'base.html' %}

{% block content %}
    <div class='message'>

        

        <form method="post">
            <h1>Participant ID: </h1>
            <input type="number" id="paricipantID" name="paricipantID" min="0" max="999"  required><br>
            <h1>Trial ID: </h1>

            <select name="trialID" id="trialID" required >
                <option value="">Select condition</option>
                <option value="risky">Risky robot first</option>
                <option value="safe">Safe robot first</option>
              </select>
            <h1>Random risky trial ordering assignment (e.g., BADC): </h1>
              <input type="text" id="riskyordering" name="riskyordering"   required><br>
            <h1>Random safe trial ordering assignment (e.g., HGFE): </h1>
              <input type="text" id="safeordering" name="safeordering"   required><br>
         
            <div class="center_align">
                <button type="submit">Submit</button>
            </div>
            
        </form>

        <!-- <a href="bell">click to start</a> -->
    </div>
{% endblock %}
