{% extends 'base.html' %}

{% block content %}
    <div class='message'>

        

        <form method="post">
            <h1> Which robot do you select for the final money-making trial? </h1>
            <select name="RobotChoiceMoney" id="RobotChoiceMoney" required >
                <option value="">Select here</option>
                <option value="robot1">Protoype 1</option>
                <option value="robot2">Prototype 2</option>
              </select>
            <!-- <input type="text" id="trialID" name="trialID"><br> -->
            <div class="center_align">
                <button type="submit">Submit</button>
            </div>
        </form>

        <!-- <a href="bell">click to start</a> -->
    </div>
{% endblock %}
